.navbar-custom {
    background-color: #121212; /* fondo */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle {
    color: #f1c40f !important; /* texto */
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover {
    color: #000 !important;
    font-weight: bold;
    background-color: #f1c40f;
}